.TodaysWeather {
    display: flex;
    flex-direction: column;
    gap: .5em;

    .panel {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .temperature {
        font-size: 4em;
    }

    .footer {
        color: var(--clr-txt-muted);
    }

    .spaced-row {
        display: flex;
        align-items: center;
        gap: .75em;
    }
}