.Header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    height: 4em;
    padding: 0 2em;

    h1 {
        span {
            position: relative;

            &::before {
                content: attr(refl-text);
                position: absolute;
                transform: scaleY(-1);
                transform-origin: 0% 85%;

                background: linear-gradient(to top, var(--clr-txt), transparent 45%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                opacity: .5;
            }

            &:first-child,
            &:last-child {
                color: var(--clr-accent);

                &::before {
                    background: linear-gradient(to top, var(--clr-accent), transparent 45%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }

    .search-location {
        justify-self: center;
        display: flex;
        align-items: center;
        gap: .5em;

        padding: .5em .75em;
        border-radius: 10em;
        min-width: 70%;
        max-width: 100%;

        background-color: color-mix(in srgb, var(--clr-bg) 50%, var(--card-bg) 50%);

        cursor: text;
        position: relative;

        input[name='search-location'] {
            flex: 1;
            margin-right: calc(24px + .5em);

            border: none;
            outline: none;
            background-color: transparent;
            color: inherit;
        }

        .search-loader {
            position: absolute;
            align-content: center;

            width: 24px;
            height: 24px;

            right: .75em;
        }
    }

    .current-location {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: .5em;

        padding: .5em .75em;
        border-radius: 10em;

        background-color: var(--clr-accent);
        color: #242424;

        cursor: pointer;
    }
}