@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  /* VARIABLES */
  --clr-bg: #242424;
  --clr-txt: rgba(255, 255, 255, 0.871);
  --card-bg: #1a1a1a;
  --clr-accent: #00dcdc;

  --height-header: 4em;

  /* THEME */
  color-scheme: light dark;
  color: var(--clr-txt);
  background-color: var(--clr-bg);

  /* FONT */
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-txt: #213547;
    --clr-bg: #ffffff;
    --card-bg: #dedede;
    --clr-accent: hsl(180, 80%, 70%);
  }
}

.App {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  main {
    height: calc(100dvh - var(--height-header));
    padding: 1em;

    overflow: hidden auto;

    border: 1px solid red;
  }
}

.capitalize {
  text-transform: capitalize;
}